@use '@angular/material' as mat;

$sonnenhof-primary: mat.define-palette($green-palette, 800);
$sonnenhof-accent: mat.define-palette($orange-palette, 400);

$sonnenhof-theme: mat.define-light-theme((
  color: (
    primary: $sonnenhof-primary,
    accent: $sonnenhof-accent,
    warn: mat.define-palette(mat.$red-palette),
  )
));

@include mat.all-component-themes($sonnenhof-theme);
